
<div class="container">


	<div class="col-lg-4" width="310">
		<img width="300" alt="Login Logo" src="/assets/img/login1.jpg">
	</div>

	<div class="col-lg-4" width="310">

		<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm"
			novalidate>

			<div class="form-group"
				[ngClass]="{ 'has-error': f.submitted && !username.valid }">
				<label for="username">{{ 'User Name' | translate }}</label> <input
					type="text" class="form-control" name="username"
					[(ngModel)]="modelo.username" #username="ngModel" required />
				<div *ngIf="f.submitted && !username.valid" class="help-block">Username
					is required</div>
			</div>
			<div class="form-group"
				[ngClass]="{ 'has-error': f.submitted && !password.valid }">
				<label for="password">Password</label> <input type="password"
					class="form-control" name="password" [(ngModel)]="modelo.password"
					#password="ngModel" required />
				<div *ngIf="f.submitted && !password.valid" class="help-block">Password
					is required</div>
			</div>
			<div class="form-group">
				<div *ngIf="modelo.errors" class="help-block">{{ modelo.errors | translate }}</div>
				<button [disabled]="loading" class="btn btn-primary">Login</button>

				<a [routerLink]="['/signup']" class="btn btn-link"> {{
					'Register' | translate }} </a>
			</div>
		</form>
	</div>

</div>


